*{
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Button{
    font-size: 300%;
    background-color: white;
    border: none;
    color: blue;
    width: 20%;
}
.CardDiv{
    margin: auto;
}
.Icon{
    font-size: 200%;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.Title{
    font-size: 80%;
    white-space: nowrap;
}
@media (min-width:585px) and (max-width:767px ){
    .Title{
        font-size: 18px;
    }
    .Icon{
        font-size: 200%;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .Title{
        font-size: 22px;
        /* white-space: nowrap; */
    }
    .Icon{
        font-size: 300%;
        white-space: nowrap;
    }
}
@media (min-width:1023px) {
    .Title{
        font-size: 22px;
        white-space: nowrap;
    }
    .Icon{
        font-size: 300%;
        white-space: nowrap;
    }
}

