*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Asosiy{
    background-color: whitesmoke;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
}
.Wrapper{
    border-top:2px solid blue;
    background-color: white;
    padding:1%;
    margin-top: 3%;
}
.WrapperImg{
    border-top:2px solid blue;
    background-color: white;
    padding:1%;
    margin-top: 3%;
}
.ImgDiv{
    border: 1px solid whitesmoke;
    height: 80px;
    width: 70%;
    background-color: whitesmoke;
    margin: auto;
}
@media(max-width:576px){
    .WrapperImg{
        border: none;
        margin-top: 0px;
        border-top: none;
        background-color: none;
    }
}