*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Modal{
    width: 1200px;
    box-sizing: border-box;
    margin: auto;
}
.linktop{
    display: flex;
}
.linktop a{
    padding-left:12px ;
    margin: 15px 5px;
}
.content{
    display: flex;
    width: 200vh;
    overflow-y: scroll;
    height: 70vh;
    border: 2px solid #555;
    margin-top: 30px;
    white-space:nowrap;
    box-sizing: border-box;
}
.content1{
    width: 50%;
    padding: 0;
    margin: 0;
    margin-top: 2%;
    padding-right: 5%;
    border-right: 2px solid #555;
}
.componet2{
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
.Textarea {
    width:35%;
    height:10vh;
}
.Btn{
    margin-right: 20px;
}
.Eshyo{
    margin-left:64%;
}
.ModalTable1{
    width: 100vh;
    margin:   0 2%   ;
    padding: 2%;
    white-space:nowrap;
}
.ModalSearch{
    margin-left: 90%;
}
.ModalSpace{
    margin-top: 20px;
    padding: 20px;
}
.EshyoModal{
    margin-left: 350%;
}
.ModalTable2{
    width: 100vh;
    margin:   0 2%   ;
    padding: 2%;
    white-space:nowrap;

}